*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.music a {
    text-decoration: none;
    border: none;
    padding: 2rem 4rem 2rem 4rem;
    color: #fff;
     
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 1rem;
}
 .music a:hover{
    background: rgb(3,0,36);
background: linear-gradient(90deg, rgba(3,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 }
 
.modern-art a {
    text-decoration: none;
    border: none;
    padding: 2rem 4rem 2rem 4rem;
    color: #fff;
    background: rgb(180,90,58);
    background: linear-gradient(90deg, rgba(180,90,58,1) 0%, rgba(253,190,29,1) 50%, rgba(255,0,0,1) 100%);
     border-radius: 1rem;
}
.modern-art  :hover{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.coding a{
    text-decoration: none;
    border: none;
    padding: 2rem 4rem 2rem 4rem;
    color: #fff;
    background: rgb(248,0,255);
    background: linear-gradient(90deg, rgba(248,0,255,1) 0%, rgba(9,121,116,1) 50%, rgba(255,0,56,1) 100%);
     border-radius: 1rem;
}
 
.con{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 30%;
    /* justify-content: flex-start; */
    gap: 5rem;
    text-align: center;
}
.music:hover {
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.modern-art:hover {
	-webkit-animation: flip-in-diag-2-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-2-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.coding:hover{
    -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes music {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  
 
 
  
 /* * animation flip-in-diag-2-tl */
 
 @keyframes modern-art {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 80deg);
              transform: rotate3d(-1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  @keyframes flip-in-diag-2-tl {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 80deg);
              transform: rotate3d(-1, 1, 0, 80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  
